<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Hugport Modern Kiosk</title>
</head>
<body>
<div id="app-kiosk-modern-source-posts" style="display: none">
	<div data-slide-id="36"><p>Post id=36</p></div>
	<div data-slide-id="35"><p>Post id=35</p></div>
	<div data-slide-id="39">
		<h1>Nadpis</h1>
		<ol>
			<li>auto</li>
			<li>motorka</li>
			<li>kolo</li>
		</ol>
		<p>Toto je krásný příspěvek</p>
	</div>
	<div data-slide-id="41"><p>Post id=35</p></div>
</div>
<div id="app-kiosk-modern"
	 data-posts='[{"id":39,"title":"P\u0159\u00edsp\u011bvek z banky","type":"post","titleOnTile":"1"},{"id":36,"title":"Po\u010das\u00ed Praha","type":"app_hug_weather","titleOnTile":"1"},{"id":35,"title":"Testovac\u00ed po\u010das\u00ed","type":"app_hug_weather","titleOnTile":"1"},{"id":41,"title":"Testovací prohlížeč","type":"app_hug_browser","titleOnTile":"1"}]'></div>

<!-- Dependencies -->
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
</body>
</html>
